Primer ejercicio para regresión lineal múltiple

In [113]:
# cargamos las librerías básicas
import numpy as np
import pandas as pd

In [114]:
# cargamos el archivo csv a depurar
df = pd.read_csv("cars_dataset.csv")

In [115]:
#revisamos el dataframe 
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,Make
0,A1,2017,12500,Manual,15735,Petrol,150.0,55.4,1.4,audi
1,A6,2016,16500,Automatic,36203,Diesel,20.0,64.2,2.0,audi
2,A1,2016,11000,Manual,29946,Petrol,30.0,55.4,1.4,audi
3,A4,2017,16800,Automatic,25952,Diesel,145.0,67.3,2.0,audi
4,A3,2019,17300,Manual,1998,Petrol,145.0,49.6,1.0,audi
...,...,...,...,...,...,...,...,...,...,...
72430,I30,2016,8680,Manual,25906,Diesel,0.0,78.4,1.6,Hyundai
72431,I40,2015,7830,Manual,59508,Diesel,30.0,65.7,1.7,Hyundai
72432,I10,2017,6830,Manual,13810,Petrol,20.0,60.1,1.0,Hyundai
72433,Tucson,2018,13994,Manual,23313,Petrol,145.0,44.8,1.6,Hyundai
72434,Tucson,2016,15999,Automatic,11472,Diesel,125.0,57.6,1.7,Hyundai

In [116]:
# revisamos los atributos del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72435 entries, 0 to 72434
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         72435 non-null  object
 1   year          72435 non-null  int64
 2   price         72435 non-null  int64
 3   transmission  72435 non-null  object
 4   mileage       72435 non-null  int64
 5   fuelType      72435 non-null  object
 6   tax           72435 non-null  float64
 7   mpg           72435 non-null  float64
 8   engineSize    72435 non-null  float64
 9   Make          72435 non-null  object
dtypes: float64(3), int64(3), object(4)
memory usage: 5.5+ MB

Aquí haremos las anotaciones pertinentes sobre el dataframe

1.  Haremos Regresión lineal del precio, por lo que éste será el conjunto de datos Y.
2.  El conjunto de datos X serán: model, year, mileage, engineSize, Make.
3.  Debemos asegurarnos de que las columnas Make y model se convientan a numérico.
4.  Así mismo, vamos a eliminar las columnas innecesarias.
5.  Eliminar algunos registros de engineSize que contienen ceros.
6.  El archivo original se dejará intacto y se creará una copia para procesar

In [117]:
df.head(10)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72435 entries, 0 to 72434
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         72435 non-null  object
 1   year          72435 non-null  int64
 2   price         72435 non-null  int64
 3   transmission  72435 non-null  object
 4   mileage       72435 non-null  int64
 5   fuelType      72435 non-null  object
 6   tax           72435 non-null  float64
 7   mpg           72435 non-null  float64
 8   engineSize    72435 non-null  float64
 9   Make          72435 non-null  object
dtypes: float64(3), int64(3), object(4)
memory usage: 5.5+ MB

In [118]:
# eliminaremos transmission, fuelType, tax y mpg
df = df.drop(['transmission', 'fuelType', 'tax', 'mpg'], axis=1)

In [119]:
df.head()

  model  year  price  mileage  engineSize  Make
0    A1  2017  12500    15735         1.4  audi
1    A6  2016  16500    36203         2.0  audi
2    A1  2016  11000    29946         1.4  audi
3    A4  2017  16800    25952         2.0  audi
4    A3  2019  17300     1998         1.0  audi

In [120]:
# df.to_csv("cars_dataset_depurado.csv",index=False)

df

         model  year  price  mileage  engineSize     Make
0           A1  2017  12500    15735         1.4     audi
1           A6  2016  16500    36203         2.0     audi
2           A1  2016  11000    29946         1.4     audi
3           A4  2017  16800    25952         2.0     audi
4           A3  2019  17300     1998         1.0     audi
...        ...   ...    ...      ...         ...      ...
72430      I30  2016   8680    25906         1.6  Hyundai
72431      I40  2015   7830    59508         1.7  Hyundai
72432      I10  2017   6830    13810         1.0  Hyundai
72433   Tucson  2018  13994    23313         1.6  Hyundai
72434   Tucson  2016  15999    11472         1.7  Hyundai

[72435 rows x 6 columns]

In [121]:
valores_unicos = df['model'].unique()
print(valores_unicos)

[' A1' ' A6' ' A4' ' A3' ' Q3' ' Q5' ' A5' ' S4' ' Q2' ' A7' ' TT' ' Q7'
 ' RS6' ' RS3' ' A8' ' Q8' ' RS4' ' RS5' ' R8' ' SQ5' ' S8' ' SQ7' ' S3'
 ' S5' ' A2' ' RS7' ' 5 Series' ' 6 Series' ' 1 Series' ' 7 Series'
 ' 2 Series' ' 4 Series' ' X3' ' 3 Series' ' X5' ' X4' ' i3' ' X1' ' M4'
 ' X2' ' X6' ' 8 Series' ' Z4' ' X7' ' M5' ' i8' ' M2' ' M3' ' M6' ' Z3'
 ' Fiesta' ' Focus' ' Puma' ' Kuga' ' EcoSport' ' C-MAX' ' Mondeo' ' Ka+'
 ' Tourneo Custom' ' S-MAX' ' B-MAX' ' Edge' ' Tourneo Connect'
 ' Grand C-MAX' ' KA' ' Galaxy' ' Mustang' ' Grand Tourneo Connect'
 ' Fusion' ' Ranger' ' Streetka' ' Escort' ' Transit Tourneo' ' T-Roc'
 ' Golf' ' Passat' ' T-Cross' ' Polo' ' Tiguan' ' Sharan' ' Up'
 ' Scirocco' ' Beetle' ' Caddy Maxi Life' ' Caravelle' ' Touareg'
 ' Arteon' ' Touran' ' Golf SV' ' Amarok' ' Tiguan Allspace' ' Shuttle'
 ' Jetta' ' CC' ' California' ' Caddy Life' ' Caddy' ' Caddy Maxi' ' Eos'
 ' Fox' ' GT86' ' Corolla' ' RAV4' ' Yaris' ' Auris' ' Aygo' ' C-HR'
 ' Prius' ' Avensis' ' Verso' ' Hilux' ' PROACE VERSO' ' Land Cruiser'
 ' Supra' ' Camry' ' Verso-S' ' IQ' ' Urban Cruiser' ' Octavia' ' Citigo'
 ' Yeti Outdoor' ' Superb' ' Kodiaq' ' Rapid' ' Karoq' ' Fabia' ' Yeti'
 ' Scala' ' Roomster' ' Kamiq' ' I20' ' Tucson' ' I10' ' IX35' ' I30'
 ' I40' ' Ioniq' ' Kona' ' Veloster' ' I800' ' IX20' ' Santa Fe' ' Accent'
 ' Terracan' ' Getz' ' Amica']

In [122]:
# Crear diccionario de códigos automáticos en formato numérico
codigo_modelos = {modelo.strip(): idx for idx, modelo in enumerate(valores_unicos)}

# Reemplazar en el DataFrame
df['model'] = df['model'].str.strip().map(codigo_modelos).fillna(-1).astype(int)

print(df.head())

   model  year  price  mileage  engineSize  Make
0      0  2017  12500    15735         1.4  audi
1      1  2016  16500    36203         2.0  audi
2      0  2016  11000    29946         1.4  audi
3      2  2017  16800    25952         2.0  audi
4      3  2019  17300     1998         1.0  audi

In [123]:
df

       model  year  price  mileage  engineSize     Make
0          0  2017  12500    15735         1.4     audi
1          1  2016  16500    36203         2.0     audi
2          0  2016  11000    29946         1.4     audi
3          2  2017  16800    25952         2.0     audi
4          3  2019  17300     1998         1.0     audi
...      ...   ...    ...      ...         ...      ...
72430    134  2016   8680    25906         1.6  Hyundai
72431    135  2015   7830    59508         1.7  Hyundai
72432    132  2017   6830    13810         1.0  Hyundai
72433    131  2018  13994    23313         1.6  Hyundai
72434    131  2016  15999    11472         1.7  Hyundai

[72435 rows x 6 columns]

In [124]:
valores_unicos_makes = df['Make'].unique()
print(valores_unicos_makes)

['audi' 'BMW' 'Ford' 'vw' 'toyota' 'skoda' 'Hyundai']

In [125]:
# Crear diccionario de códigos automáticos en formato numérico
codigo_modelos_makes = {modelo.strip(): idx for idx, modelo in enumerate(valores_unicos_makes)}

# Reemplazar en el DataFrame con manejo de errores
df['Make'] = df['Make'].str.strip().map(codigo_modelos_makes).fillna(-1).astype(int)

print(df.head())

   model  year  price  mileage  engineSize  Make
0      0  2017  12500    15735         1.4     0
1      1  2016  16500    36203         2.0     0
2      0  2016  11000    29946         1.4     0
3      2  2017  16800    25952         2.0     0
4      3  2019  17300     1998         1.0     0

In [126]:
df

       model  year  price  mileage  engineSize  Make
0          0  2017  12500    15735         1.4     0
1          1  2016  16500    36203         2.0     0
2          0  2016  11000    29946         1.4     0
3          2  2017  16800    25952         2.0     0
4          3  2019  17300     1998         1.0     0
...      ...   ...    ...      ...         ...   ...
72430    134  2016   8680    25906         1.6     6
72431    135  2015   7830    59508         1.7     6
72432    132  2017   6830    13810         1.0     6
72433    131  2018  13994    23313         1.6     6
72434    131  2016  15999    11472         1.7     6

[72435 rows x 6 columns]

In [127]:
df.to_csv("cars_dataset_depurado.csv",index=False)

Fin del primer ejercicio