# Introduccion a la ciencia de datos

## ¿Que es?


## ¿Para que sirve?



## ¿Cómo se hace?

In [31]:
# importar librerias

import numpy as np
import pandas as pd

se abre un archivo tipo CSV (Coma Separated Values)

In [32]:
df=pd.read_csv('dirty_dataset.csv')

In [33]:
df.head(15)

,Customer_ID,Name,Email,Purchase_Amount,Purchase_Date,Product_Category,Quantity,Discount_Applied,Store_Location
0,c001,John Doe,john.doe@email.com,2000.0,2024-01-01,Electronics,NaN,no,New York
1,C001,Jane Smith,jane.smith@email.com,100.0,01/02/2024,Clothing,2,True,Los Angeles
2,C001,JANE SMITH,jane.smith@EMAIL.com,-10.0,2024-01-03,clothing,two,no,los angeles
3,c001,Mike Brown,mikebrown@email.com,NaN,2024-01-04,Furniture,two,False,Chicago
4,C003,mike brown,NaN,2000.0,01-05-2024,FURNITURE,two,True,CHICAGO
5,C002,Samantha Lee,samantha@email.com,50.0,2024/01/06,Beauty,2,NaN,Houston
6,C002,Samanth Lee,sam.lee@email.com,2000.0,NaN,Beuty,NaN,yes,houston
7,C002,John Doe,john.doe@email.com,-10.0,2024-01-01,Electronics,two,no,New York
8,c001,Jane Smith,jane.smith@email.com,NaN,01/02/2024,Clothing,5,yes,Los Angeles
9,C001,JANE SMITH,jane.smith@EMAIL.com,100.0,2024-01-03,clothing,2,yes,los angeles
10,c001,Mike Brown,mikebrown@email.com,-10.0,2024-01-04,Furniture,2,True,Chicago
11,c001,mike brown,NaN,-10.0,01-05-2024,FURNITURE,NaN,yes,CHICAGO
12,C005,Samantha Lee,samantha@email.com,50.0,2024/01/06,Beauty,2,NaN,Houston
13,C001,Samanth Lee,sam.lee@email.com,1000.0,NaN,Beuty,2,yes,houston
14,C005,John Doe,john.doe@email.com,NaN,2024-01-01,Electronics,two,True,New York

se revisa el dataframe

In [34]:
df.tail()

,Customer_ID,Name,Email,Purchase_Amount,Purchase_Date,Product_Category,Quantity,Discount_Applied,Store_Location
50,c001,John Doe,john.doe@email.com,2000.0,2024-01-01,Electronics,NaN,no,New York
51,C001,Jane Smith,jane.smith@email.com,100.0,01/02/2024,Clothing,2,True,Los Angeles
52,C001,JANE SMITH,jane.smith@EMAIL.com,-10.0,2024-01-03,clothing,two,no,los angeles
53,c001,Mike Brown,mikebrown@email.com,NaN,2024-01-04,Furniture,two,False,Chicago
54,C003,mike brown,NaN,2000.0,01-05-2024,FURNITURE,two,True,CHICAGO

In [35]:
df

,Customer_ID,Name,Email,Purchase_Amount,Purchase_Date,Product_Category,Quantity,Discount_Applied,Store_Location
0,c001,John Doe,john.doe@email.com,2000.0,2024-01-01,Electronics,NaN,no,New York
1,C001,Jane Smith,jane.smith@email.com,100.0,01/02/2024,Clothing,2,True,Los Angeles
2,C001,JANE SMITH,jane.smith@EMAIL.com,-10.0,2024-01-03,clothing,two,no,los angeles
3,c001,Mike Brown,mikebrown@email.com,NaN,2024-01-04,Furniture,two,False,Chicago
4,C003,mike brown,NaN,2000.0,01-05-2024,FURNITURE,two,True,CHICAGO
5,C002,Samantha Lee,samantha@email.com,50.0,2024/01/06,Beauty,2,NaN,Houston
6,C002,Samanth Lee,sam.lee@email.com,2000.0,NaN,Beuty,NaN,yes,houston
7,C002,John Doe,john.doe@email.com,-10.0,2024-01-01,Electronics,two,no,New York
8,c001,Jane Smith,jane.smith@email.com,NaN,01/02/2024,Clothing,5,yes,Los Angeles
9,C001,JANE SMITH,jane.smith@EMAIL.com,100.0,2024-01-03,clothing,2,yes,los angeles
10,c001,Mike Brown,mikebrown@email.com,-10.0,2024-01-04,Furniture,2,True,Chicago
11,c001,mike brown,NaN,-10.0,01-05-2024,FURNITURE,NaN,yes,CHICAGO
12,C005,Samantha Lee,samantha@email.com,50.0,2024/01/06,Beauty,2,NaN,Houston
13,C001,Samanth Lee,sam.lee@email.com,1000.0,NaN,Beuty,2,yes,houston
14,C005,John Doe,john.doe@email.com,NaN,2024-01-01,Electronics,two,True,New York
15,C004,Jane Smith,jane.smith@email.com,20.0,01/02/2024,Clothing,NaN,NaN,Los Angeles
16,C001,JANE SMITH,jane.smith@EMAIL.com,-10.0,2024-01-03,clothing,two,False,los angeles
17,C001,Mike Brown,mikebrown@email.com,1000.0,2024-01-04,Furniture,two,yes,Chicago
18,C001,mike brown,NaN,20.0,01-05-2024,FURNITURE,NaN,True,CHICAGO
19,C002,Samantha Lee,samantha@email.com,NaN,2024/01/06,Beauty,1,False,Houston
20,C002,Samanth Lee,sam.lee@email.com,10.0,NaN,Beuty,two,False,houston
21,C005,John Doe,john.doe@email.com,1000.0,2024-01-01,Electronics,5,no,New York
22,C005,Jane Smith,jane.smith@email.com,NaN,01/02/2024,Clothing,5,NaN,Los Angeles
23,C001,JANE SMITH,jane.smith@EMAIL.com,10.0,2024-01-03,clothing,2,yes,los angeles
24,C005,Mike Brown,mikebrown@email.com,50.0,2024-01-04,Furniture,5,True,Chicago
25,C002,mike brown,NaN,2000.0,01-05-2024,FURNITURE,2,no,CHICAGO
26,c001,Samantha Lee,samantha@email.com,100.0,2024/01/06,Beauty,1,NaN,Houston
27,c001,Samanth Lee,sam.lee@email.com,NaN,NaN,Beuty,NaN,no,houston
28,c001,John Doe,john.doe@email.com,50.0,2024-01-01,Electronics,NaN,NaN,New York
29,C005,Jane Smith,jane.smith@email.com,NaN,01/02/2024,Clothing,NaN,NaN,Los Angeles
30,C004,JANE SMITH,jane.smith@EMAIL.com,50.0,2024-01-03,clothing,5,yes,los angeles
31,C002,Mike Brown,mikebrown@email.com,2000.0,2024-01-04,Furniture,1,NaN,Chicago
32,C004,mike brown,NaN,NaN,01-05-2024,FURNITURE,5,no,CHICAGO
33,C005,Samantha Lee,samantha@email.com,NaN,2024/01/06,Beauty,5,NaN,Houston
34,C003,Samanth Lee,sam.lee@email.com,2000.0,NaN,Beuty,1,yes,houston
35,c002,John Doe,john.doe@email.com,20.0,2024-01-01,Electronics,1,yes,New York
36,c002,Jane Smith,jane.smith@email.com,100.0,01/02/2024,Clothing,1,no,Los Angeles
37,C001,JANE SMITH,jane.smith@EMAIL.com,NaN,2024-01-03,clothing,1,False,los angeles
38,c002,Mike Brown,mikebrown@email.com,20.0,2024-01-04,Furniture,NaN,False,Chicago
39,c002,mike brown,NaN,NaN,01-05-2024,FURNITURE,3,NaN,CHICAGO
40,C002,Samantha Lee,samantha@email.com,NaN,2024/01/06,Beauty,3,True,Houston
41,c001,Samanth Lee,sam.lee@email.com,20.0,NaN,Beuty,1,NaN,houston
42,C004,John Doe,john.doe@email.com,100.0,2024-01-01,Electronics,3,no,New York
43,C003,Jane Smith,jane.smith@email.com,2000.0,01/02/2024,Clothing,3,no,Los Angeles
44,C003,JANE SMITH,jane.smith@EMAIL.com,-10.0,2024-01-03,clothing,1,no,los angeles
45,C002,Mike Brown,mikebrown@email.com,50.0,2024-01-04,Furniture,3,no,Chicago
46,C002,mike brown,NaN,10.0,01-05-2024,FURNITURE,5,no,CHICAGO
47,c002,Samantha Lee,samantha@email.com,100.0,2024/01/06,Beauty,2,yes,Houston
48,C003,Samanth Lee,sam.lee@email.com,20.0,NaN,Beuty,2,False,houston
49,C001,James Bond,007@spy.agency,-10.0,2024-01-15,Toys,1,no,London
50,c001,John Doe,john.doe@email.com,2000.0,2024-01-01,Electronics,NaN,no,New York
51,C001,Jane Smith,jane.smith@email.com,100.0,01/02/2024,Clothing,2,True,Los Angeles
52,C001,JANE SMITH,jane.smith@EMAIL.com,-10.0,2024-01-03,clothing,two,no,los angeles
53,c001,Mike Brown,mikebrown@email.com,NaN,2024-01-04,Furniture,two,False,Chicago
54,C003,mike brown,NaN,2000.0,01-05-2024,FURNITURE,two,True,CHICAGO

se revisa en tamaño del dataframe

In [36]:
df.shape

(55, 9)

obtener estadisticas generales del dataframe

In [37]:
# df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer_ID       55 non-null     object
 1   Name              55 non-null     object
 2   Email             47 non-null     object
 3   Purchase_Amount   42 non-null     float64
 4   Purchase_Date     48 non-null     object
 5   Product_Category  55 non-null     object
 6   Quantity          45 non-null     object
 7   Discount_Applied  44 non-null     object
 8   Store_Location    55 non-null     object
dtypes: float64(1), object(8)
memory usage: 4.0+ KB

se verifica cuantos NaN hay en el dataset existen

In [38]:
df.isna().sum()

Customer_ID          0
Name                 0
Email                8
Purchase_Amount     13
Purchase_Date        7
Product_Category     0
Quantity            10
Discount_Applied    11
Store_Location       0
dtype: int64

buscar por nulos

In [39]:
df.isnull().sum()

Customer_ID          0
Name                 0
Email                8
Purchase_Amount     13
Purchase_Date        7
Product_Category     0
Quantity            10
Discount_Applied    11
Store_Location       0
dtype: int64

Ahora,se limpia el dataframe de "impurezas" Primero  "Purchase_Amount"I wu numerico, que tiene 13 valores NaN. se peuden reemplazar los NaN po un numero atipico, por ejemplo 999
luego, se reemplazan los 999 por la media o la moda de la columna

In [40]:
df["Purchase_Amount"] = df["Purchase_Amount"].replace(np.nan, 999)

In [41]:
df

,Customer_ID,Name,Email,Purchase_Amount,Purchase_Date,Product_Category,Quantity,Discount_Applied,Store_Location
0,c001,John Doe,john.doe@email.com,2000.0,2024-01-01,Electronics,NaN,no,New York
1,C001,Jane Smith,jane.smith@email.com,100.0,01/02/2024,Clothing,2,True,Los Angeles
2,C001,JANE SMITH,jane.smith@EMAIL.com,-10.0,2024-01-03,clothing,two,no,los angeles
3,c001,Mike Brown,mikebrown@email.com,999.0,2024-01-04,Furniture,two,False,Chicago
4,C003,mike brown,NaN,2000.0,01-05-2024,FURNITURE,two,True,CHICAGO
5,C002,Samantha Lee,samantha@email.com,50.0,2024/01/06,Beauty,2,NaN,Houston
6,C002,Samanth Lee,sam.lee@email.com,2000.0,NaN,Beuty,NaN,yes,houston
7,C002,John Doe,john.doe@email.com,-10.0,2024-01-01,Electronics,two,no,New York
8,c001,Jane Smith,jane.smith@email.com,999.0,01/02/2024,Clothing,5,yes,Los Angeles
9,C001,JANE SMITH,jane.smith@EMAIL.com,100.0,2024-01-03,clothing,2,yes,los angeles
10,c001,Mike Brown,mikebrown@email.com,-10.0,2024-01-04,Furniture,2,True,Chicago
11,c001,mike brown,NaN,-10.0,01-05-2024,FURNITURE,NaN,yes,CHICAGO
12,C005,Samantha Lee,samantha@email.com,50.0,2024/01/06,Beauty,2,NaN,Houston
13,C001,Samanth Lee,sam.lee@email.com,1000.0,NaN,Beuty,2,yes,houston
14,C005,John Doe,john.doe@email.com,999.0,2024-01-01,Electronics,two,True,New York
15,C004,Jane Smith,jane.smith@email.com,20.0,01/02/2024,Clothing,NaN,NaN,Los Angeles
16,C001,JANE SMITH,jane.smith@EMAIL.com,-10.0,2024-01-03,clothing,two,False,los angeles
17,C001,Mike Brown,mikebrown@email.com,1000.0,2024-01-04,Furniture,two,yes,Chicago
18,C001,mike brown,NaN,20.0,01-05-2024,FURNITURE,NaN,True,CHICAGO
19,C002,Samantha Lee,samantha@email.com,999.0,2024/01/06,Beauty,1,False,Houston
20,C002,Samanth Lee,sam.lee@email.com,10.0,NaN,Beuty,two,False,houston
21,C005,John Doe,john.doe@email.com,1000.0,2024-01-01,Electronics,5,no,New York
22,C005,Jane Smith,jane.smith@email.com,999.0,01/02/2024,Clothing,5,NaN,Los Angeles
23,C001,JANE SMITH,jane.smith@EMAIL.com,10.0,2024-01-03,clothing,2,yes,los angeles
24,C005,Mike Brown,mikebrown@email.com,50.0,2024-01-04,Furniture,5,True,Chicago
25,C002,mike brown,NaN,2000.0,01-05-2024,FURNITURE,2,no,CHICAGO
26,c001,Samantha Lee,samantha@email.com,100.0,2024/01/06,Beauty,1,NaN,Houston
27,c001,Samanth Lee,sam.lee@email.com,999.0,NaN,Beuty,NaN,no,houston
28,c001,John Doe,john.doe@email.com,50.0,2024-01-01,Electronics,NaN,NaN,New York
29,C005,Jane Smith,jane.smith@email.com,999.0,01/02/2024,Clothing,NaN,NaN,Los Angeles
30,C004,JANE SMITH,jane.smith@EMAIL.com,50.0,2024-01-03,clothing,5,yes,los angeles
31,C002,Mike Brown,mikebrown@email.com,2000.0,2024-01-04,Furniture,1,NaN,Chicago
32,C004,mike brown,NaN,999.0,01-05-2024,FURNITURE,5,no,CHICAGO
33,C005,Samantha Lee,samantha@email.com,999.0,2024/01/06,Beauty,5,NaN,Houston
34,C003,Samanth Lee,sam.lee@email.com,2000.0,NaN,Beuty,1,yes,houston
35,c002,John Doe,john.doe@email.com,20.0,2024-01-01,Electronics,1,yes,New York
36,c002,Jane Smith,jane.smith@email.com,100.0,01/02/2024,Clothing,1,no,Los Angeles
37,C001,JANE SMITH,jane.smith@EMAIL.com,999.0,2024-01-03,clothing,1,False,los angeles
38,c002,Mike Brown,mikebrown@email.com,20.0,2024-01-04,Furniture,NaN,False,Chicago
39,c002,mike brown,NaN,999.0,01-05-2024,FURNITURE,3,NaN,CHICAGO
40,C002,Samantha Lee,samantha@email.com,999.0,2024/01/06,Beauty,3,True,Houston
41,c001,Samanth Lee,sam.lee@email.com,20.0,NaN,Beuty,1,NaN,houston
42,C004,John Doe,john.doe@email.com,100.0,2024-01-01,Electronics,3,no,New York
43,C003,Jane Smith,jane.smith@email.com,2000.0,01/02/2024,Clothing,3,no,Los Angeles
44,C003,JANE SMITH,jane.smith@EMAIL.com,-10.0,2024-01-03,clothing,1,no,los angeles
45,C002,Mike Brown,mikebrown@email.com,50.0,2024-01-04,Furniture,3,no,Chicago
46,C002,mike brown,NaN,10.0,01-05-2024,FURNITURE,5,no,CHICAGO
47,c002,Samantha Lee,samantha@email.com,100.0,2024/01/06,Beauty,2,yes,Houston
48,C003,Samanth Lee,sam.lee@email.com,20.0,NaN,Beuty,2,False,houston
49,C001,James Bond,007@spy.agency,-10.0,2024-01-15,Toys,1,no,London
50,c001,John Doe,john.doe@email.com,2000.0,2024-01-01,Electronics,NaN,no,New York
51,C001,Jane Smith,jane.smith@email.com,100.0,01/02/2024,Clothing,2,True,Los Angeles
52,C001,JANE SMITH,jane.smith@EMAIL.com,-10.0,2024-01-03,clothing,two,no,los angeles
53,c001,Mike Brown,mikebrown@email.com,999.0,2024-01-04,Furniture,two,False,Chicago
54,C003,mike brown,NaN,2000.0,01-05-2024,FURNITURE,two,True,CHICAGO

In [42]:
df['Purchase_Amount'] = df['Purchase_Amount'].abs()

In [43]:
df

,Customer_ID,Name,Email,Purchase_Amount,Purchase_Date,Product_Category,Quantity,Discount_Applied,Store_Location
0,c001,John Doe,john.doe@email.com,2000.0,2024-01-01,Electronics,NaN,no,New York
1,C001,Jane Smith,jane.smith@email.com,100.0,01/02/2024,Clothing,2,True,Los Angeles
2,C001,JANE SMITH,jane.smith@EMAIL.com,10.0,2024-01-03,clothing,two,no,los angeles
3,c001,Mike Brown,mikebrown@email.com,999.0,2024-01-04,Furniture,two,False,Chicago
4,C003,mike brown,NaN,2000.0,01-05-2024,FURNITURE,two,True,CHICAGO
5,C002,Samantha Lee,samantha@email.com,50.0,2024/01/06,Beauty,2,NaN,Houston
6,C002,Samanth Lee,sam.lee@email.com,2000.0,NaN,Beuty,NaN,yes,houston
7,C002,John Doe,john.doe@email.com,10.0,2024-01-01,Electronics,two,no,New York
8,c001,Jane Smith,jane.smith@email.com,999.0,01/02/2024,Clothing,5,yes,Los Angeles
9,C001,JANE SMITH,jane.smith@EMAIL.com,100.0,2024-01-03,clothing,2,yes,los angeles
10,c001,Mike Brown,mikebrown@email.com,10.0,2024-01-04,Furniture,2,True,Chicago
11,c001,mike brown,NaN,10.0,01-05-2024,FURNITURE,NaN,yes,CHICAGO
12,C005,Samantha Lee,samantha@email.com,50.0,2024/01/06,Beauty,2,NaN,Houston
13,C001,Samanth Lee,sam.lee@email.com,1000.0,NaN,Beuty,2,yes,houston
14,C005,John Doe,john.doe@email.com,999.0,2024-01-01,Electronics,two,True,New York
15,C004,Jane Smith,jane.smith@email.com,20.0,01/02/2024,Clothing,NaN,NaN,Los Angeles
16,C001,JANE SMITH,jane.smith@EMAIL.com,10.0,2024-01-03,clothing,two,False,los angeles
17,C001,Mike Brown,mikebrown@email.com,1000.0,2024-01-04,Furniture,two,yes,Chicago
18,C001,mike brown,NaN,20.0,01-05-2024,FURNITURE,NaN,True,CHICAGO
19,C002,Samantha Lee,samantha@email.com,999.0,2024/01/06,Beauty,1,False,Houston
20,C002,Samanth Lee,sam.lee@email.com,10.0,NaN,Beuty,two,False,houston
21,C005,John Doe,john.doe@email.com,1000.0,2024-01-01,Electronics,5,no,New York
22,C005,Jane Smith,jane.smith@email.com,999.0,01/02/2024,Clothing,5,NaN,Los Angeles
23,C001,JANE SMITH,jane.smith@EMAIL.com,10.0,2024-01-03,clothing,2,yes,los angeles
24,C005,Mike Brown,mikebrown@email.com,50.0,2024-01-04,Furniture,5,True,Chicago
25,C002,mike brown,NaN,2000.0,01-05-2024,FURNITURE,2,no,CHICAGO
26,c001,Samantha Lee,samantha@email.com,100.0,2024/01/06,Beauty,1,NaN,Houston
27,c001,Samanth Lee,sam.lee@email.com,999.0,NaN,Beuty,NaN,no,houston
28,c001,John Doe,john.doe@email.com,50.0,2024-01-01,Electronics,NaN,NaN,New York
29,C005,Jane Smith,jane.smith@email.com,999.0,01/02/2024,Clothing,NaN,NaN,Los Angeles
30,C004,JANE SMITH,jane.smith@EMAIL.com,50.0,2024-01-03,clothing,5,yes,los angeles
31,C002,Mike Brown,mikebrown@email.com,2000.0,2024-01-04,Furniture,1,NaN,Chicago
32,C004,mike brown,NaN,999.0,01-05-2024,FURNITURE,5,no,CHICAGO
33,C005,Samantha Lee,samantha@email.com,999.0,2024/01/06,Beauty,5,NaN,Houston
34,C003,Samanth Lee,sam.lee@email.com,2000.0,NaN,Beuty,1,yes,houston
35,c002,John Doe,john.doe@email.com,20.0,2024-01-01,Electronics,1,yes,New York
36,c002,Jane Smith,jane.smith@email.com,100.0,01/02/2024,Clothing,1,no,Los Angeles
37,C001,JANE SMITH,jane.smith@EMAIL.com,999.0,2024-01-03,clothing,1,False,los angeles
38,c002,Mike Brown,mikebrown@email.com,20.0,2024-01-04,Furniture,NaN,False,Chicago
39,c002,mike brown,NaN,999.0,01-05-2024,FURNITURE,3,NaN,CHICAGO
40,C002,Samantha Lee,samantha@email.com,999.0,2024/01/06,Beauty,3,True,Houston
41,c001,Samanth Lee,sam.lee@email.com,20.0,NaN,Beuty,1,NaN,houston
42,C004,John Doe,john.doe@email.com,100.0,2024-01-01,Electronics,3,no,New York
43,C003,Jane Smith,jane.smith@email.com,2000.0,01/02/2024,Clothing,3,no,Los Angeles
44,C003,JANE SMITH,jane.smith@EMAIL.com,10.0,2024-01-03,clothing,1,no,los angeles
45,C002,Mike Brown,mikebrown@email.com,50.0,2024-01-04,Furniture,3,no,Chicago
46,C002,mike brown,NaN,10.0,01-05-2024,FURNITURE,5,no,CHICAGO
47,c002,Samantha Lee,samantha@email.com,100.0,2024/01/06,Beauty,2,yes,Houston
48,C003,Samanth Lee,sam.lee@email.com,20.0,NaN,Beuty,2,False,houston
49,C001,James Bond,007@spy.agency,10.0,2024-01-15,Toys,1,no,London
50,c001,John Doe,john.doe@email.com,2000.0,2024-01-01,Electronics,NaN,no,New York
51,C001,Jane Smith,jane.smith@email.com,100.0,01/02/2024,Clothing,2,True,Los Angeles
52,C001,JANE SMITH,jane.smith@EMAIL.com,10.0,2024-01-03,clothing,two,no,los angeles
53,c001,Mike Brown,mikebrown@email.com,999.0,2024-01-04,Furniture,two,False,Chicago
54,C003,mike brown,NaN,2000.0,01-05-2024,FURNITURE,two,True,CHICAGO

In [51]:
df["Purchase_Amount"] = df["Purchase_Amount"].replace(999, df["Purchase_Amount"].mean())
df["Purchase_Amount"] = df["Purchase_Amount"].round(2)

In [52]:
df

,Customer_ID,Name,Email,Purchase_Amount,Purchase_Date,Product_Category,Quantity,Discount_Applied,Store_Location
0,c001,John Doe,john.doe@email.com,2000.00,2024-01-01,ELECTRONICS,2.42,no,NEW YORK
1,C001,Jane Smith,jane.smith@email.com,100.00,01/02/2024,CLOTHING,2.00,True,LOS ANGELES
2,C001,JANE SMITH,jane.smith@EMAIL.com,10.00,2024-01-03,CLOTHING,2.00,no,LOS ANGELES
3,c001,Mike Brown,mikebrown@email.com,640.31,2024-01-04,FURNITURE,2.00,False,CHICAGO
4,C003,mike brown,NaN,2000.00,01-05-2024,FURNITURE,2.00,True,CHICAGO
5,C002,Samantha Lee,samantha@email.com,50.00,2024/01/06,BEAUTY,2.00,NaN,HOUSTON
6,C002,Samanth Lee,sam.lee@email.com,2000.00,NaN,BEUTY,2.42,yes,HOUSTON
7,C002,John Doe,john.doe@email.com,10.00,2024-01-01,ELECTRONICS,2.00,no,NEW YORK
8,c001,Jane Smith,jane.smith@email.com,640.31,01/02/2024,CLOTHING,5.00,yes,LOS ANGELES
9,C001,JANE SMITH,jane.smith@EMAIL.com,100.00,2024-01-03,CLOTHING,2.00,yes,LOS ANGELES
10,c001,Mike Brown,mikebrown@email.com,10.00,2024-01-04,FURNITURE,2.00,True,CHICAGO
11,c001,mike brown,NaN,10.00,01-05-2024,FURNITURE,2.42,yes,CHICAGO
12,C005,Samantha Lee,samantha@email.com,50.00,2024/01/06,BEAUTY,2.00,NaN,HOUSTON
13,C001,Samanth Lee,sam.lee@email.com,1000.00,NaN,BEUTY,2.00,yes,HOUSTON
14,C005,John Doe,john.doe@email.com,640.31,2024-01-01,ELECTRONICS,2.00,True,NEW YORK
15,C004,Jane Smith,jane.smith@email.com,20.00,01/02/2024,CLOTHING,2.42,NaN,LOS ANGELES
16,C001,JANE SMITH,jane.smith@EMAIL.com,10.00,2024-01-03,CLOTHING,2.00,False,LOS ANGELES
17,C001,Mike Brown,mikebrown@email.com,1000.00,2024-01-04,FURNITURE,2.00,yes,CHICAGO
18,C001,mike brown,NaN,20.00,01-05-2024,FURNITURE,2.42,True,CHICAGO
19,C002,Samantha Lee,samantha@email.com,640.31,2024/01/06,BEAUTY,1.00,False,HOUSTON
20,C002,Samanth Lee,sam.lee@email.com,10.00,NaN,BEUTY,2.00,False,HOUSTON
21,C005,John Doe,john.doe@email.com,1000.00,2024-01-01,ELECTRONICS,5.00,no,NEW YORK
22,C005,Jane Smith,jane.smith@email.com,640.31,01/02/2024,CLOTHING,5.00,NaN,LOS ANGELES
23,C001,JANE SMITH,jane.smith@EMAIL.com,10.00,2024-01-03,CLOTHING,2.00,yes,LOS ANGELES
24,C005,Mike Brown,mikebrown@email.com,50.00,2024-01-04,FURNITURE,5.00,True,CHICAGO
25,C002,mike brown,NaN,2000.00,01-05-2024,FURNITURE,2.00,no,CHICAGO
26,c001,Samantha Lee,samantha@email.com,100.00,2024/01/06,BEAUTY,1.00,NaN,HOUSTON
27,c001,Samanth Lee,sam.lee@email.com,640.31,NaN,BEUTY,2.42,no,HOUSTON
28,c001,John Doe,john.doe@email.com,50.00,2024-01-01,ELECTRONICS,2.42,NaN,NEW YORK
29,C005,Jane Smith,jane.smith@email.com,640.31,01/02/2024,CLOTHING,2.42,NaN,LOS ANGELES
30,C004,JANE SMITH,jane.smith@EMAIL.com,50.00,2024-01-03,CLOTHING,5.00,yes,LOS ANGELES
31,C002,Mike Brown,mikebrown@email.com,2000.00,2024-01-04,FURNITURE,1.00,NaN,CHICAGO
32,C004,mike brown,NaN,640.31,01-05-2024,FURNITURE,5.00,no,CHICAGO
33,C005,Samantha Lee,samantha@email.com,640.31,2024/01/06,BEAUTY,5.00,NaN,HOUSTON
34,C003,Samanth Lee,sam.lee@email.com,2000.00,NaN,BEUTY,1.00,yes,HOUSTON
35,c002,John Doe,john.doe@email.com,20.00,2024-01-01,ELECTRONICS,1.00,yes,NEW YORK
36,c002,Jane Smith,jane.smith@email.com,100.00,01/02/2024,CLOTHING,1.00,no,LOS ANGELES
37,C001,JANE SMITH,jane.smith@EMAIL.com,640.31,2024-01-03,CLOTHING,1.00,False,LOS ANGELES
38,c002,Mike Brown,mikebrown@email.com,20.00,2024-01-04,FURNITURE,2.42,False,CHICAGO
39,c002,mike brown,NaN,640.31,01-05-2024,FURNITURE,3.00,NaN,CHICAGO
40,C002,Samantha Lee,samantha@email.com,640.31,2024/01/06,BEAUTY,3.00,True,HOUSTON
41,c001,Samanth Lee,sam.lee@email.com,20.00,NaN,BEUTY,1.00,NaN,HOUSTON
42,C004,John Doe,john.doe@email.com,100.00,2024-01-01,ELECTRONICS,3.00,no,NEW YORK
43,C003,Jane Smith,jane.smith@email.com,2000.00,01/02/2024,CLOTHING,3.00,no,LOS ANGELES
44,C003,JANE SMITH,jane.smith@EMAIL.com,10.00,2024-01-03,CLOTHING,1.00,no,LOS ANGELES
45,C002,Mike Brown,mikebrown@email.com,50.00,2024-01-04,FURNITURE,3.00,no,CHICAGO
46,C002,mike brown,NaN,10.00,01-05-2024,FURNITURE,5.00,no,CHICAGO
47,c002,Samantha Lee,samantha@email.com,100.00,2024/01/06,BEAUTY,2.00,yes,HOUSTON
48,C003,Samanth Lee,sam.lee@email.com,20.00,NaN,BEUTY,2.00,False,HOUSTON
49,C001,James Bond,007@spy.agency,10.00,2024-01-15,TOYS,1.00,no,LONDON
50,c001,John Doe,john.doe@email.com,2000.00,2024-01-01,ELECTRONICS,2.42,no,NEW YORK
51,C001,Jane Smith,jane.smith@email.com,100.00,01/02/2024,CLOTHING,2.00,True,LOS ANGELES
52,C001,JANE SMITH,jane.smith@EMAIL.com,10.00,2024-01-03,CLOTHING,2.00,no,LOS ANGELES
53,c001,Mike Brown,mikebrown@email.com,640.31,2024-01-04,FURNITURE,2.00,False,CHICAGO
54,C003,mike brown,NaN,2000.00,01-05-2024,FURNITURE,2.00,True,CHICAGO

In [46]:
df['Store_Location'] = df['Store_Location'].str.upper()
df

,Customer_ID,Name,Email,Purchase_Amount,Purchase_Date,Product_Category,Quantity,Discount_Applied,Store_Location
0,c001,John Doe,john.doe@email.com,2000.000000,2024-01-01,Electronics,NaN,no,NEW YORK
1,C001,Jane Smith,jane.smith@email.com,100.000000,01/02/2024,Clothing,2,True,LOS ANGELES
2,C001,JANE SMITH,jane.smith@EMAIL.com,10.000000,2024-01-03,clothing,two,no,LOS ANGELES
3,c001,Mike Brown,mikebrown@email.com,640.309091,2024-01-04,Furniture,two,False,CHICAGO
4,C003,mike brown,NaN,2000.000000,01-05-2024,FURNITURE,two,True,CHICAGO
5,C002,Samantha Lee,samantha@email.com,50.000000,2024/01/06,Beauty,2,NaN,HOUSTON
6,C002,Samanth Lee,sam.lee@email.com,2000.000000,NaN,Beuty,NaN,yes,HOUSTON
7,C002,John Doe,john.doe@email.com,10.000000,2024-01-01,Electronics,two,no,NEW YORK
8,c001,Jane Smith,jane.smith@email.com,640.309091,01/02/2024,Clothing,5,yes,LOS ANGELES
9,C001,JANE SMITH,jane.smith@EMAIL.com,100.000000,2024-01-03,clothing,2,yes,LOS ANGELES
10,c001,Mike Brown,mikebrown@email.com,10.000000,2024-01-04,Furniture,2,True,CHICAGO
11,c001,mike brown,NaN,10.000000,01-05-2024,FURNITURE,NaN,yes,CHICAGO
12,C005,Samantha Lee,samantha@email.com,50.000000,2024/01/06,Beauty,2,NaN,HOUSTON
13,C001,Samanth Lee,sam.lee@email.com,1000.000000,NaN,Beuty,2,yes,HOUSTON
14,C005,John Doe,john.doe@email.com,640.309091,2024-01-01,Electronics,two,True,NEW YORK
15,C004,Jane Smith,jane.smith@email.com,20.000000,01/02/2024,Clothing,NaN,NaN,LOS ANGELES
16,C001,JANE SMITH,jane.smith@EMAIL.com,10.000000,2024-01-03,clothing,two,False,LOS ANGELES
17,C001,Mike Brown,mikebrown@email.com,1000.000000,2024-01-04,Furniture,two,yes,CHICAGO
18,C001,mike brown,NaN,20.000000,01-05-2024,FURNITURE,NaN,True,CHICAGO
19,C002,Samantha Lee,samantha@email.com,640.309091,2024/01/06,Beauty,1,False,HOUSTON
20,C002,Samanth Lee,sam.lee@email.com,10.000000,NaN,Beuty,two,False,HOUSTON
21,C005,John Doe,john.doe@email.com,1000.000000,2024-01-01,Electronics,5,no,NEW YORK
22,C005,Jane Smith,jane.smith@email.com,640.309091,01/02/2024,Clothing,5,NaN,LOS ANGELES
23,C001,JANE SMITH,jane.smith@EMAIL.com,10.000000,2024-01-03,clothing,2,yes,LOS ANGELES
24,C005,Mike Brown,mikebrown@email.com,50.000000,2024-01-04,Furniture,5,True,CHICAGO
25,C002,mike brown,NaN,2000.000000,01-05-2024,FURNITURE,2,no,CHICAGO
26,c001,Samantha Lee,samantha@email.com,100.000000,2024/01/06,Beauty,1,NaN,HOUSTON
27,c001,Samanth Lee,sam.lee@email.com,640.309091,NaN,Beuty,NaN,no,HOUSTON
28,c001,John Doe,john.doe@email.com,50.000000,2024-01-01,Electronics,NaN,NaN,NEW YORK
29,C005,Jane Smith,jane.smith@email.com,640.309091,01/02/2024,Clothing,NaN,NaN,LOS ANGELES
30,C004,JANE SMITH,jane.smith@EMAIL.com,50.000000,2024-01-03,clothing,5,yes,LOS ANGELES
31,C002,Mike Brown,mikebrown@email.com,2000.000000,2024-01-04,Furniture,1,NaN,CHICAGO
32,C004,mike brown,NaN,640.309091,01-05-2024,FURNITURE,5,no,CHICAGO
33,C005,Samantha Lee,samantha@email.com,640.309091,2024/01/06,Beauty,5,NaN,HOUSTON
34,C003,Samanth Lee,sam.lee@email.com,2000.000000,NaN,Beuty,1,yes,HOUSTON
35,c002,John Doe,john.doe@email.com,20.000000,2024-01-01,Electronics,1,yes,NEW YORK
36,c002,Jane Smith,jane.smith@email.com,100.000000,01/02/2024,Clothing,1,no,LOS ANGELES
37,C001,JANE SMITH,jane.smith@EMAIL.com,640.309091,2024-01-03,clothing,1,False,LOS ANGELES
38,c002,Mike Brown,mikebrown@email.com,20.000000,2024-01-04,Furniture,NaN,False,CHICAGO
39,c002,mike brown,NaN,640.309091,01-05-2024,FURNITURE,3,NaN,CHICAGO
40,C002,Samantha Lee,samantha@email.com,640.309091,2024/01/06,Beauty,3,True,HOUSTON
41,c001,Samanth Lee,sam.lee@email.com,20.000000,NaN,Beuty,1,NaN,HOUSTON
42,C004,John Doe,john.doe@email.com,100.000000,2024-01-01,Electronics,3,no,NEW YORK
43,C003,Jane Smith,jane.smith@email.com,2000.000000,01/02/2024,Clothing,3,no,LOS ANGELES
44,C003,JANE SMITH,jane.smith@EMAIL.com,10.000000,2024-01-03,clothing,1,no,LOS ANGELES
45,C002,Mike Brown,mikebrown@email.com,50.000000,2024-01-04,Furniture,3,no,CHICAGO
46,C002,mike brown,NaN,10.000000,01-05-2024,FURNITURE,5,no,CHICAGO
47,c002,Samantha Lee,samantha@email.com,100.000000,2024/01/06,Beauty,2,yes,HOUSTON
48,C003,Samanth Lee,sam.lee@email.com,20.000000,NaN,Beuty,2,False,HOUSTON
49,C001,James Bond,007@spy.agency,10.000000,2024-01-15,Toys,1,no,LONDON
50,c001,John Doe,john.doe@email.com,2000.000000,2024-01-01,Electronics,NaN,no,NEW YORK
51,C001,Jane Smith,jane.smith@email.com,100.000000,01/02/2024,Clothing,2,True,LOS ANGELES
52,C001,JANE SMITH,jane.smith@EMAIL.com,10.000000,2024-01-03,clothing,two,no,LOS ANGELES
53,c001,Mike Brown,mikebrown@email.com,640.309091,2024-01-04,Furniture,two,False,CHICAGO
54,C003,mike brown,NaN,2000.000000,01-05-2024,FURNITURE,two,True,CHICAGO

In [47]:
df["Product_Category"]=df["Product_Category"].str.upper()
df

,Customer_ID,Name,Email,Purchase_Amount,Purchase_Date,Product_Category,Quantity,Discount_Applied,Store_Location
0,c001,John Doe,john.doe@email.com,2000.000000,2024-01-01,ELECTRONICS,NaN,no,NEW YORK
1,C001,Jane Smith,jane.smith@email.com,100.000000,01/02/2024,CLOTHING,2,True,LOS ANGELES
2,C001,JANE SMITH,jane.smith@EMAIL.com,10.000000,2024-01-03,CLOTHING,two,no,LOS ANGELES
3,c001,Mike Brown,mikebrown@email.com,640.309091,2024-01-04,FURNITURE,two,False,CHICAGO
4,C003,mike brown,NaN,2000.000000,01-05-2024,FURNITURE,two,True,CHICAGO
5,C002,Samantha Lee,samantha@email.com,50.000000,2024/01/06,BEAUTY,2,NaN,HOUSTON
6,C002,Samanth Lee,sam.lee@email.com,2000.000000,NaN,BEUTY,NaN,yes,HOUSTON
7,C002,John Doe,john.doe@email.com,10.000000,2024-01-01,ELECTRONICS,two,no,NEW YORK
8,c001,Jane Smith,jane.smith@email.com,640.309091,01/02/2024,CLOTHING,5,yes,LOS ANGELES
9,C001,JANE SMITH,jane.smith@EMAIL.com,100.000000,2024-01-03,CLOTHING,2,yes,LOS ANGELES
10,c001,Mike Brown,mikebrown@email.com,10.000000,2024-01-04,FURNITURE,2,True,CHICAGO
11,c001,mike brown,NaN,10.000000,01-05-2024,FURNITURE,NaN,yes,CHICAGO
12,C005,Samantha Lee,samantha@email.com,50.000000,2024/01/06,BEAUTY,2,NaN,HOUSTON
13,C001,Samanth Lee,sam.lee@email.com,1000.000000,NaN,BEUTY,2,yes,HOUSTON
14,C005,John Doe,john.doe@email.com,640.309091,2024-01-01,ELECTRONICS,two,True,NEW YORK
15,C004,Jane Smith,jane.smith@email.com,20.000000,01/02/2024,CLOTHING,NaN,NaN,LOS ANGELES
16,C001,JANE SMITH,jane.smith@EMAIL.com,10.000000,2024-01-03,CLOTHING,two,False,LOS ANGELES
17,C001,Mike Brown,mikebrown@email.com,1000.000000,2024-01-04,FURNITURE,two,yes,CHICAGO
18,C001,mike brown,NaN,20.000000,01-05-2024,FURNITURE,NaN,True,CHICAGO
19,C002,Samantha Lee,samantha@email.com,640.309091,2024/01/06,BEAUTY,1,False,HOUSTON
20,C002,Samanth Lee,sam.lee@email.com,10.000000,NaN,BEUTY,two,False,HOUSTON
21,C005,John Doe,john.doe@email.com,1000.000000,2024-01-01,ELECTRONICS,5,no,NEW YORK
22,C005,Jane Smith,jane.smith@email.com,640.309091,01/02/2024,CLOTHING,5,NaN,LOS ANGELES
23,C001,JANE SMITH,jane.smith@EMAIL.com,10.000000,2024-01-03,CLOTHING,2,yes,LOS ANGELES
24,C005,Mike Brown,mikebrown@email.com,50.000000,2024-01-04,FURNITURE,5,True,CHICAGO
25,C002,mike brown,NaN,2000.000000,01-05-2024,FURNITURE,2,no,CHICAGO
26,c001,Samantha Lee,samantha@email.com,100.000000,2024/01/06,BEAUTY,1,NaN,HOUSTON
27,c001,Samanth Lee,sam.lee@email.com,640.309091,NaN,BEUTY,NaN,no,HOUSTON
28,c001,John Doe,john.doe@email.com,50.000000,2024-01-01,ELECTRONICS,NaN,NaN,NEW YORK
29,C005,Jane Smith,jane.smith@email.com,640.309091,01/02/2024,CLOTHING,NaN,NaN,LOS ANGELES
30,C004,JANE SMITH,jane.smith@EMAIL.com,50.000000,2024-01-03,CLOTHING,5,yes,LOS ANGELES
31,C002,Mike Brown,mikebrown@email.com,2000.000000,2024-01-04,FURNITURE,1,NaN,CHICAGO
32,C004,mike brown,NaN,640.309091,01-05-2024,FURNITURE,5,no,CHICAGO
33,C005,Samantha Lee,samantha@email.com,640.309091,2024/01/06,BEAUTY,5,NaN,HOUSTON
34,C003,Samanth Lee,sam.lee@email.com,2000.000000,NaN,BEUTY,1,yes,HOUSTON
35,c002,John Doe,john.doe@email.com,20.000000,2024-01-01,ELECTRONICS,1,yes,NEW YORK
36,c002,Jane Smith,jane.smith@email.com,100.000000,01/02/2024,CLOTHING,1,no,LOS ANGELES
37,C001,JANE SMITH,jane.smith@EMAIL.com,640.309091,2024-01-03,CLOTHING,1,False,LOS ANGELES
38,c002,Mike Brown,mikebrown@email.com,20.000000,2024-01-04,FURNITURE,NaN,False,CHICAGO
39,c002,mike brown,NaN,640.309091,01-05-2024,FURNITURE,3,NaN,CHICAGO
40,C002,Samantha Lee,samantha@email.com,640.309091,2024/01/06,BEAUTY,3,True,HOUSTON
41,c001,Samanth Lee,sam.lee@email.com,20.000000,NaN,BEUTY,1,NaN,HOUSTON
42,C004,John Doe,john.doe@email.com,100.000000,2024-01-01,ELECTRONICS,3,no,NEW YORK
43,C003,Jane Smith,jane.smith@email.com,2000.000000,01/02/2024,CLOTHING,3,no,LOS ANGELES
44,C003,JANE SMITH,jane.smith@EMAIL.com,10.000000,2024-01-03,CLOTHING,1,no,LOS ANGELES
45,C002,Mike Brown,mikebrown@email.com,50.000000,2024-01-04,FURNITURE,3,no,CHICAGO
46,C002,mike brown,NaN,10.000000,01-05-2024,FURNITURE,5,no,CHICAGO
47,c002,Samantha Lee,samantha@email.com,100.000000,2024/01/06,BEAUTY,2,yes,HOUSTON
48,C003,Samanth Lee,sam.lee@email.com,20.000000,NaN,BEUTY,2,False,HOUSTON
49,C001,James Bond,007@spy.agency,10.000000,2024-01-15,TOYS,1,no,LONDON
50,c001,John Doe,john.doe@email.com,2000.000000,2024-01-01,ELECTRONICS,NaN,no,NEW YORK
51,C001,Jane Smith,jane.smith@email.com,100.000000,01/02/2024,CLOTHING,2,True,LOS ANGELES
52,C001,JANE SMITH,jane.smith@EMAIL.com,10.000000,2024-01-03,CLOTHING,two,no,LOS ANGELES
53,c001,Mike Brown,mikebrown@email.com,640.309091,2024-01-04,FURNITURE,two,False,CHICAGO
54,C003,mike brown,NaN,2000.000000,01-05-2024,FURNITURE,two,True,CHICAGO

In [50]:
df["Quantity"] = df["Quantity"].replace("two", 2)
df["Quantity"] = pd.to_numeric(df["Quantity"], errors='coerce')
df["Quantity"] = df["Quantity"].replace(np.nan, df["Quantity"].mean())
df["Quantity"] = df["Quantity"].round(2)
df

,Customer_ID,Name,Email,Purchase_Amount,Purchase_Date,Product_Category,Quantity,Discount_Applied,Store_Location
0,c001,John Doe,john.doe@email.com,2000.000000,2024-01-01,ELECTRONICS,2.42,no,NEW YORK
1,C001,Jane Smith,jane.smith@email.com,100.000000,01/02/2024,CLOTHING,2.00,True,LOS ANGELES
2,C001,JANE SMITH,jane.smith@EMAIL.com,10.000000,2024-01-03,CLOTHING,2.00,no,LOS ANGELES
3,c001,Mike Brown,mikebrown@email.com,640.309091,2024-01-04,FURNITURE,2.00,False,CHICAGO
4,C003,mike brown,NaN,2000.000000,01-05-2024,FURNITURE,2.00,True,CHICAGO
5,C002,Samantha Lee,samantha@email.com,50.000000,2024/01/06,BEAUTY,2.00,NaN,HOUSTON
6,C002,Samanth Lee,sam.lee@email.com,2000.000000,NaN,BEUTY,2.42,yes,HOUSTON
7,C002,John Doe,john.doe@email.com,10.000000,2024-01-01,ELECTRONICS,2.00,no,NEW YORK
8,c001,Jane Smith,jane.smith@email.com,640.309091,01/02/2024,CLOTHING,5.00,yes,LOS ANGELES
9,C001,JANE SMITH,jane.smith@EMAIL.com,100.000000,2024-01-03,CLOTHING,2.00,yes,LOS ANGELES
10,c001,Mike Brown,mikebrown@email.com,10.000000,2024-01-04,FURNITURE,2.00,True,CHICAGO
11,c001,mike brown,NaN,10.000000,01-05-2024,FURNITURE,2.42,yes,CHICAGO
12,C005,Samantha Lee,samantha@email.com,50.000000,2024/01/06,BEAUTY,2.00,NaN,HOUSTON
13,C001,Samanth Lee,sam.lee@email.com,1000.000000,NaN,BEUTY,2.00,yes,HOUSTON
14,C005,John Doe,john.doe@email.com,640.309091,2024-01-01,ELECTRONICS,2.00,True,NEW YORK
15,C004,Jane Smith,jane.smith@email.com,20.000000,01/02/2024,CLOTHING,2.42,NaN,LOS ANGELES
16,C001,JANE SMITH,jane.smith@EMAIL.com,10.000000,2024-01-03,CLOTHING,2.00,False,LOS ANGELES
17,C001,Mike Brown,mikebrown@email.com,1000.000000,2024-01-04,FURNITURE,2.00,yes,CHICAGO
18,C001,mike brown,NaN,20.000000,01-05-2024,FURNITURE,2.42,True,CHICAGO
19,C002,Samantha Lee,samantha@email.com,640.309091,2024/01/06,BEAUTY,1.00,False,HOUSTON
20,C002,Samanth Lee,sam.lee@email.com,10.000000,NaN,BEUTY,2.00,False,HOUSTON
21,C005,John Doe,john.doe@email.com,1000.000000,2024-01-01,ELECTRONICS,5.00,no,NEW YORK
22,C005,Jane Smith,jane.smith@email.com,640.309091,01/02/2024,CLOTHING,5.00,NaN,LOS ANGELES
23,C001,JANE SMITH,jane.smith@EMAIL.com,10.000000,2024-01-03,CLOTHING,2.00,yes,LOS ANGELES
24,C005,Mike Brown,mikebrown@email.com,50.000000,2024-01-04,FURNITURE,5.00,True,CHICAGO
25,C002,mike brown,NaN,2000.000000,01-05-2024,FURNITURE,2.00,no,CHICAGO
26,c001,Samantha Lee,samantha@email.com,100.000000,2024/01/06,BEAUTY,1.00,NaN,HOUSTON
27,c001,Samanth Lee,sam.lee@email.com,640.309091,NaN,BEUTY,2.42,no,HOUSTON
28,c001,John Doe,john.doe@email.com,50.000000,2024-01-01,ELECTRONICS,2.42,NaN,NEW YORK
29,C005,Jane Smith,jane.smith@email.com,640.309091,01/02/2024,CLOTHING,2.42,NaN,LOS ANGELES
30,C004,JANE SMITH,jane.smith@EMAIL.com,50.000000,2024-01-03,CLOTHING,5.00,yes,LOS ANGELES
31,C002,Mike Brown,mikebrown@email.com,2000.000000,2024-01-04,FURNITURE,1.00,NaN,CHICAGO
32,C004,mike brown,NaN,640.309091,01-05-2024,FURNITURE,5.00,no,CHICAGO
33,C005,Samantha Lee,samantha@email.com,640.309091,2024/01/06,BEAUTY,5.00,NaN,HOUSTON
34,C003,Samanth Lee,sam.lee@email.com,2000.000000,NaN,BEUTY,1.00,yes,HOUSTON
35,c002,John Doe,john.doe@email.com,20.000000,2024-01-01,ELECTRONICS,1.00,yes,NEW YORK
36,c002,Jane Smith,jane.smith@email.com,100.000000,01/02/2024,CLOTHING,1.00,no,LOS ANGELES
37,C001,JANE SMITH,jane.smith@EMAIL.com,640.309091,2024-01-03,CLOTHING,1.00,False,LOS ANGELES
38,c002,Mike Brown,mikebrown@email.com,20.000000,2024-01-04,FURNITURE,2.42,False,CHICAGO
39,c002,mike brown,NaN,640.309091,01-05-2024,FURNITURE,3.00,NaN,CHICAGO
40,C002,Samantha Lee,samantha@email.com,640.309091,2024/01/06,BEAUTY,3.00,True,HOUSTON
41,c001,Samanth Lee,sam.lee@email.com,20.000000,NaN,BEUTY,1.00,NaN,HOUSTON
42,C004,John Doe,john.doe@email.com,100.000000,2024-01-01,ELECTRONICS,3.00,no,NEW YORK
43,C003,Jane Smith,jane.smith@email.com,2000.000000,01/02/2024,CLOTHING,3.00,no,LOS ANGELES
44,C003,JANE SMITH,jane.smith@EMAIL.com,10.000000,2024-01-03,CLOTHING,1.00,no,LOS ANGELES
45,C002,Mike Brown,mikebrown@email.com,50.000000,2024-01-04,FURNITURE,3.00,no,CHICAGO
46,C002,mike brown,NaN,10.000000,01-05-2024,FURNITURE,5.00,no,CHICAGO
47,c002,Samantha Lee,samantha@email.com,100.000000,2024/01/06,BEAUTY,2.00,yes,HOUSTON
48,C003,Samanth Lee,sam.lee@email.com,20.000000,NaN,BEUTY,2.00,False,HOUSTON
49,C001,James Bond,007@spy.agency,10.000000,2024-01-15,TOYS,1.00,no,LONDON
50,c001,John Doe,john.doe@email.com,2000.000000,2024-01-01,ELECTRONICS,2.42,no,NEW YORK
51,C001,Jane Smith,jane.smith@email.com,100.000000,01/02/2024,CLOTHING,2.00,True,LOS ANGELES
52,C001,JANE SMITH,jane.smith@EMAIL.com,10.000000,2024-01-03,CLOTHING,2.00,no,LOS ANGELES
53,c001,Mike Brown,mikebrown@email.com,640.309091,2024-01-04,FURNITURE,2.00,False,CHICAGO
54,C003,mike brown,NaN,2000.000000,01-05-2024,FURNITURE,2.00,True,CHICAGO

In [56]:
df["Email"]=df["Email"].str.lower()
df["Email"] = df["Email"].fillna(df["Name"].str.lower().str.replace(' ', '.') + "@hotmail.com")
df

,Customer_ID,Name,Email,Purchase_Amount,Purchase_Date,Product_Category,Quantity,Discount_Applied,Store_Location
0,c001,John Doe,john.doe@email.com,2000.00,2024-01-01,ELECTRONICS,2.42,no,NEW YORK
1,C001,Jane Smith,jane.smith@email.com,100.00,01/02/2024,CLOTHING,2.00,True,LOS ANGELES
2,C001,JANE SMITH,jane.smith@email.com,10.00,2024-01-03,CLOTHING,2.00,no,LOS ANGELES
3,c001,Mike Brown,mikebrown@email.com,640.31,2024-01-04,FURNITURE,2.00,False,CHICAGO
4,C003,mike brown,mike.brown@hotmail.com,2000.00,01-05-2024,FURNITURE,2.00,True,CHICAGO
5,C002,Samantha Lee,samantha@email.com,50.00,2024/01/06,BEAUTY,2.00,NaN,HOUSTON
6,C002,Samanth Lee,sam.lee@email.com,2000.00,NaN,BEUTY,2.42,yes,HOUSTON
7,C002,John Doe,john.doe@email.com,10.00,2024-01-01,ELECTRONICS,2.00,no,NEW YORK
8,c001,Jane Smith,jane.smith@email.com,640.31,01/02/2024,CLOTHING,5.00,yes,LOS ANGELES
9,C001,JANE SMITH,jane.smith@email.com,100.00,2024-01-03,CLOTHING,2.00,yes,LOS ANGELES
10,c001,Mike Brown,mikebrown@email.com,10.00,2024-01-04,FURNITURE,2.00,True,CHICAGO
11,c001,mike brown,mike.brown@hotmail.com,10.00,01-05-2024,FURNITURE,2.42,yes,CHICAGO
12,C005,Samantha Lee,samantha@email.com,50.00,2024/01/06,BEAUTY,2.00,NaN,HOUSTON
13,C001,Samanth Lee,sam.lee@email.com,1000.00,NaN,BEUTY,2.00,yes,HOUSTON
14,C005,John Doe,john.doe@email.com,640.31,2024-01-01,ELECTRONICS,2.00,True,NEW YORK
15,C004,Jane Smith,jane.smith@email.com,20.00,01/02/2024,CLOTHING,2.42,NaN,LOS ANGELES
16,C001,JANE SMITH,jane.smith@email.com,10.00,2024-01-03,CLOTHING,2.00,False,LOS ANGELES
17,C001,Mike Brown,mikebrown@email.com,1000.00,2024-01-04,FURNITURE,2.00,yes,CHICAGO
18,C001,mike brown,mike.brown@hotmail.com,20.00,01-05-2024,FURNITURE,2.42,True,CHICAGO
19,C002,Samantha Lee,samantha@email.com,640.31,2024/01/06,BEAUTY,1.00,False,HOUSTON
20,C002,Samanth Lee,sam.lee@email.com,10.00,NaN,BEUTY,2.00,False,HOUSTON
21,C005,John Doe,john.doe@email.com,1000.00,2024-01-01,ELECTRONICS,5.00,no,NEW YORK
22,C005,Jane Smith,jane.smith@email.com,640.31,01/02/2024,CLOTHING,5.00,NaN,LOS ANGELES
23,C001,JANE SMITH,jane.smith@email.com,10.00,2024-01-03,CLOTHING,2.00,yes,LOS ANGELES
24,C005,Mike Brown,mikebrown@email.com,50.00,2024-01-04,FURNITURE,5.00,True,CHICAGO
25,C002,mike brown,mike.brown@hotmail.com,2000.00,01-05-2024,FURNITURE,2.00,no,CHICAGO
26,c001,Samantha Lee,samantha@email.com,100.00,2024/01/06,BEAUTY,1.00,NaN,HOUSTON
27,c001,Samanth Lee,sam.lee@email.com,640.31,NaN,BEUTY,2.42,no,HOUSTON
28,c001,John Doe,john.doe@email.com,50.00,2024-01-01,ELECTRONICS,2.42,NaN,NEW YORK
29,C005,Jane Smith,jane.smith@email.com,640.31,01/02/2024,CLOTHING,2.42,NaN,LOS ANGELES
30,C004,JANE SMITH,jane.smith@email.com,50.00,2024-01-03,CLOTHING,5.00,yes,LOS ANGELES
31,C002,Mike Brown,mikebrown@email.com,2000.00,2024-01-04,FURNITURE,1.00,NaN,CHICAGO
32,C004,mike brown,mike.brown@hotmail.com,640.31,01-05-2024,FURNITURE,5.00,no,CHICAGO
33,C005,Samantha Lee,samantha@email.com,640.31,2024/01/06,BEAUTY,5.00,NaN,HOUSTON
34,C003,Samanth Lee,sam.lee@email.com,2000.00,NaN,BEUTY,1.00,yes,HOUSTON
35,c002,John Doe,john.doe@email.com,20.00,2024-01-01,ELECTRONICS,1.00,yes,NEW YORK
36,c002,Jane Smith,jane.smith@email.com,100.00,01/02/2024,CLOTHING,1.00,no,LOS ANGELES
37,C001,JANE SMITH,jane.smith@email.com,640.31,2024-01-03,CLOTHING,1.00,False,LOS ANGELES
38,c002,Mike Brown,mikebrown@email.com,20.00,2024-01-04,FURNITURE,2.42,False,CHICAGO
39,c002,mike brown,mike.brown@hotmail.com,640.31,01-05-2024,FURNITURE,3.00,NaN,CHICAGO
40,C002,Samantha Lee,samantha@email.com,640.31,2024/01/06,BEAUTY,3.00,True,HOUSTON
41,c001,Samanth Lee,sam.lee@email.com,20.00,NaN,BEUTY,1.00,NaN,HOUSTON
42,C004,John Doe,john.doe@email.com,100.00,2024-01-01,ELECTRONICS,3.00,no,NEW YORK
43,C003,Jane Smith,jane.smith@email.com,2000.00,01/02/2024,CLOTHING,3.00,no,LOS ANGELES
44,C003,JANE SMITH,jane.smith@email.com,10.00,2024-01-03,CLOTHING,1.00,no,LOS ANGELES
45,C002,Mike Brown,mikebrown@email.com,50.00,2024-01-04,FURNITURE,3.00,no,CHICAGO
46,C002,mike brown,mike.brown@hotmail.com,10.00,01-05-2024,FURNITURE,5.00,no,CHICAGO
47,c002,Samantha Lee,samantha@email.com,100.00,2024/01/06,BEAUTY,2.00,yes,HOUSTON
48,C003,Samanth Lee,sam.lee@email.com,20.00,NaN,BEUTY,2.00,False,HOUSTON
49,C001,James Bond,007@spy.agency,10.00,2024-01-15,TOYS,1.00,no,LONDON
50,c001,John Doe,john.doe@email.com,2000.00,2024-01-01,ELECTRONICS,2.42,no,NEW YORK
51,C001,Jane Smith,jane.smith@email.com,100.00,01/02/2024,CLOTHING,2.00,True,LOS ANGELES
52,C001,JANE SMITH,jane.smith@email.com,10.00,2024-01-03,CLOTHING,2.00,no,LOS ANGELES
53,c001,Mike Brown,mikebrown@email.com,640.31,2024-01-04,FURNITURE,2.00,False,CHICAGO
54,C003,mike brown,mike.brown@hotmail.com,2000.00,01-05-2024,FURNITURE,2.00,True,CHICAGO

In [57]:
df["Name"] = df["Name"].str.title()
df

,Customer_ID,Name,Email,Purchase_Amount,Purchase_Date,Product_Category,Quantity,Discount_Applied,Store_Location
0,c001,John Doe,john.doe@email.com,2000.00,2024-01-01,ELECTRONICS,2.42,no,NEW YORK
1,C001,Jane Smith,jane.smith@email.com,100.00,01/02/2024,CLOTHING,2.00,True,LOS ANGELES
2,C001,Jane Smith,jane.smith@email.com,10.00,2024-01-03,CLOTHING,2.00,no,LOS ANGELES
3,c001,Mike Brown,mikebrown@email.com,640.31,2024-01-04,FURNITURE,2.00,False,CHICAGO
4,C003,Mike Brown,mike.brown@hotmail.com,2000.00,01-05-2024,FURNITURE,2.00,True,CHICAGO
5,C002,Samantha Lee,samantha@email.com,50.00,2024/01/06,BEAUTY,2.00,NaN,HOUSTON
6,C002,Samanth Lee,sam.lee@email.com,2000.00,NaN,BEUTY,2.42,yes,HOUSTON
7,C002,John Doe,john.doe@email.com,10.00,2024-01-01,ELECTRONICS,2.00,no,NEW YORK
8,c001,Jane Smith,jane.smith@email.com,640.31,01/02/2024,CLOTHING,5.00,yes,LOS ANGELES
9,C001,Jane Smith,jane.smith@email.com,100.00,2024-01-03,CLOTHING,2.00,yes,LOS ANGELES
10,c001,Mike Brown,mikebrown@email.com,10.00,2024-01-04,FURNITURE,2.00,True,CHICAGO
11,c001,Mike Brown,mike.brown@hotmail.com,10.00,01-05-2024,FURNITURE,2.42,yes,CHICAGO
12,C005,Samantha Lee,samantha@email.com,50.00,2024/01/06,BEAUTY,2.00,NaN,HOUSTON
13,C001,Samanth Lee,sam.lee@email.com,1000.00,NaN,BEUTY,2.00,yes,HOUSTON
14,C005,John Doe,john.doe@email.com,640.31,2024-01-01,ELECTRONICS,2.00,True,NEW YORK
15,C004,Jane Smith,jane.smith@email.com,20.00,01/02/2024,CLOTHING,2.42,NaN,LOS ANGELES
16,C001,Jane Smith,jane.smith@email.com,10.00,2024-01-03,CLOTHING,2.00,False,LOS ANGELES
17,C001,Mike Brown,mikebrown@email.com,1000.00,2024-01-04,FURNITURE,2.00,yes,CHICAGO
18,C001,Mike Brown,mike.brown@hotmail.com,20.00,01-05-2024,FURNITURE,2.42,True,CHICAGO
19,C002,Samantha Lee,samantha@email.com,640.31,2024/01/06,BEAUTY,1.00,False,HOUSTON
20,C002,Samanth Lee,sam.lee@email.com,10.00,NaN,BEUTY,2.00,False,HOUSTON
21,C005,John Doe,john.doe@email.com,1000.00,2024-01-01,ELECTRONICS,5.00,no,NEW YORK
22,C005,Jane Smith,jane.smith@email.com,640.31,01/02/2024,CLOTHING,5.00,NaN,LOS ANGELES
23,C001,Jane Smith,jane.smith@email.com,10.00,2024-01-03,CLOTHING,2.00,yes,LOS ANGELES
24,C005,Mike Brown,mikebrown@email.com,50.00,2024-01-04,FURNITURE,5.00,True,CHICAGO
25,C002,Mike Brown,mike.brown@hotmail.com,2000.00,01-05-2024,FURNITURE,2.00,no,CHICAGO
26,c001,Samantha Lee,samantha@email.com,100.00,2024/01/06,BEAUTY,1.00,NaN,HOUSTON
27,c001,Samanth Lee,sam.lee@email.com,640.31,NaN,BEUTY,2.42,no,HOUSTON
28,c001,John Doe,john.doe@email.com,50.00,2024-01-01,ELECTRONICS,2.42,NaN,NEW YORK
29,C005,Jane Smith,jane.smith@email.com,640.31,01/02/2024,CLOTHING,2.42,NaN,LOS ANGELES
30,C004,Jane Smith,jane.smith@email.com,50.00,2024-01-03,CLOTHING,5.00,yes,LOS ANGELES
31,C002,Mike Brown,mikebrown@email.com,2000.00,2024-01-04,FURNITURE,1.00,NaN,CHICAGO
32,C004,Mike Brown,mike.brown@hotmail.com,640.31,01-05-2024,FURNITURE,5.00,no,CHICAGO
33,C005,Samantha Lee,samantha@email.com,640.31,2024/01/06,BEAUTY,5.00,NaN,HOUSTON
34,C003,Samanth Lee,sam.lee@email.com,2000.00,NaN,BEUTY,1.00,yes,HOUSTON
35,c002,John Doe,john.doe@email.com,20.00,2024-01-01,ELECTRONICS,1.00,yes,NEW YORK
36,c002,Jane Smith,jane.smith@email.com,100.00,01/02/2024,CLOTHING,1.00,no,LOS ANGELES
37,C001,Jane Smith,jane.smith@email.com,640.31,2024-01-03,CLOTHING,1.00,False,LOS ANGELES
38,c002,Mike Brown,mikebrown@email.com,20.00,2024-01-04,FURNITURE,2.42,False,CHICAGO
39,c002,Mike Brown,mike.brown@hotmail.com,640.31,01-05-2024,FURNITURE,3.00,NaN,CHICAGO
40,C002,Samantha Lee,samantha@email.com,640.31,2024/01/06,BEAUTY,3.00,True,HOUSTON
41,c001,Samanth Lee,sam.lee@email.com,20.00,NaN,BEUTY,1.00,NaN,HOUSTON
42,C004,John Doe,john.doe@email.com,100.00,2024-01-01,ELECTRONICS,3.00,no,NEW YORK
43,C003,Jane Smith,jane.smith@email.com,2000.00,01/02/2024,CLOTHING,3.00,no,LOS ANGELES
44,C003,Jane Smith,jane.smith@email.com,10.00,2024-01-03,CLOTHING,1.00,no,LOS ANGELES
45,C002,Mike Brown,mikebrown@email.com,50.00,2024-01-04,FURNITURE,3.00,no,CHICAGO
46,C002,Mike Brown,mike.brown@hotmail.com,10.00,01-05-2024,FURNITURE,5.00,no,CHICAGO
47,c002,Samantha Lee,samantha@email.com,100.00,2024/01/06,BEAUTY,2.00,yes,HOUSTON
48,C003,Samanth Lee,sam.lee@email.com,20.00,NaN,BEUTY,2.00,False,HOUSTON
49,C001,James Bond,007@spy.agency,10.00,2024-01-15,TOYS,1.00,no,LONDON
50,c001,John Doe,john.doe@email.com,2000.00,2024-01-01,ELECTRONICS,2.42,no,NEW YORK
51,C001,Jane Smith,jane.smith@email.com,100.00,01/02/2024,CLOTHING,2.00,True,LOS ANGELES
52,C001,Jane Smith,jane.smith@email.com,10.00,2024-01-03,CLOTHING,2.00,no,LOS ANGELES
53,c001,Mike Brown,mikebrown@email.com,640.31,2024-01-04,FURNITURE,2.00,False,CHICAGO
54,C003,Mike Brown,mike.brown@hotmail.com,2000.00,01-05-2024,FURNITURE,2.00,True,CHICAGO

In [60]:
df.to_csv("clean_dataset.csv", index=True)
df.head()

,Customer_ID,Name,Email,Purchase_Amount,Purchase_Date,Product_Category,Quantity,Discount_Applied,Store_Location
0,c001,John Doe,john.doe@email.com,2000.00,2024-01-01,ELECTRONICS,2.42,no,NEW YORK
1,C001,Jane Smith,jane.smith@email.com,100.00,01/02/2024,CLOTHING,2.00,True,LOS ANGELES
2,C001,Jane Smith,jane.smith@email.com,10.00,2024-01-03,CLOTHING,2.00,no,LOS ANGELES
3,c001,Mike Brown,mikebrown@email.com,640.31,2024-01-04,FURNITURE,2.00,False,CHICAGO
4,C003,Mike Brown,mike.brown@hotmail.com,2000.00,01-05-2024,FURNITURE,2.00,True,CHICAGO